{{- define "og-image" }}{{- with resources.Get "images/og-blog.png" }}{{- .Permalink }}{{- end }}{{- end }}
{{- define "og-type" }}article{{- end }}
{{- define "main" }}
<h1 class="post-title">{{ .Title }}</h1>
<p class="post-description">{{- .Description -}}</p>
<p class="post-metadata">{{ .PublishDate | time.Format "January _2, 2006" }}{{- if .Param "word-count" }} &bull; <span class="wc"> {{ $wc := .WordCount }}{{ lang.FormatNumberCustom 0 $wc "- . '" }} words</span>{{- end }}</p>
<hr />
{{- if .Param "table-of-contents" }}
{{ .TableOfContents }}
<hr />
{{- end }}
<div class="content{{- if .Param "book-style" }} book-style{{- end }}">
    {{ .Content }}
</div>
{{- end }}
